<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'CSS/about.css' %}">
</head>
<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="bold" bold>
                We visit schools and villages to educate them about rabies and compassion towards animals. The goal is to have the community as our partner in caring for the street animals of Dharamsala.We feed street dogs in need and support local street animal feeders. The program helps eliminate the human/street dog conflict and allows for easier catching, and monitoring animal health.
            </p>
            <br><br><br>
            <div class="skills">
                <span><h2>Web Design</h2></span>
                <span><h2>Photoshop & Illustrator</h2></span>
                <span><h2>Coding</h2></span>
            </div>
        </div>
    </div>
</body>
</html>